.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #6a7dfe;
  background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
  background: -o-linear-gradient(to left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
  background: linear-gradient(to left, #21d4fd, #b721ff);
  height: 80px;
  gap: 2%;
}

.icon {
  font-size: 30px;
  color: white;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  transform: translateY(-3px);
}

.name {
    font-size: 20px;
    color: white;
    margin-right: 20px;
  }